* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 20px;
}

li {
  margin-bottom: 20px;
}

.header {
  background-color: aquamarine;
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 30px;
}

.subTitle {
  padding: 20px;
  font-size: 20px;
}